
@{
    ViewBag.Title = "Gaurds";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <section class="team_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Our Guards
                </h2>
                <p>
                    
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 mx-auto ">
                    <div class="box">
                        <div class="img-box">
                            <img src="../Content/images/t1.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Chetan Sakariya
                            </h5>
                            <h6 class="">
                                supervisor
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mx-auto ">
                    <div class="box">
                        <div class="img-box">
                            <img src="../Content/images/t2.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Jayesh Ahir
                            </h5>
                            <h6 class="">
                                supervisor
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mx-auto ">
                    <div class="box">
                        <div class="img-box">
                            <img src="../Content/images/t3.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
              
                            </h5>
                            <h6 class="">
                                supervisor
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View All
                </a>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>


